div {
	max-width: 75vw;
}

#bkg {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: -1;
}

#main {
	top: 0;
	height: 100vh;
	left: 12vw;
	width: 75vw;
	background-color: rgba(256,256,256,0.8);
}

#nav, #main, #bkg {
	position: fixed;
}

#name, h2, #social, #media, #photos, #about, .photo, .col2, .col3, .nav {
	position: relative;
}

#name {
	top: 30vh;
	font-family: "Abril Fatface", serif;
	text-transform: uppercase;
	font-size: 6vw;
}

a {
	text-decoration-line: none;
	margin: 1vw;
	color: black;
}

a:hover {
	color: grey;
}

.nav, p {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 2vw;
	margin: 4vw;
}

p {
	font-size: 1.8vw;
}

h2 {
	font-family: "Abril Fatface", serif;
	font-size: 3vw;
	text-transform: uppercase;
	left: 5vw;
}

li {
	list-style-type: none;
	display: inline;
}

.logo {
	height: 3vw;
}

#social {
	top: 50vh;
}

#media, #photos, #about {
	top: 90vh;
	left: 10vw;
	padding-top: 10vh;
}
 
#youtube {
	display: inline;
}

iframe {
	height: 45vw;
	width: 60vw;
}

.photo {
	height: 22vw;
	width: 30vw;
	left: 10vw;
}

.col2 {
	left: 22vw;
}

.col3 {
	left: 35vw;
}

#blurb {
	text-transform: none;
	width: 60vw;
	padding-bottom: 10vh;
}

#nav {
	width: 75vw;
	z-index: 1;
	left: 12vw;
	margin: 0;
	padding: 2vw 0;
	top: 0;
	background-color: rgba(256,256,256,1);
}

.nav {
	left: 0;
	margin: 0;
	padding: 2vw 3vw;
}

.nav:hover {
	background-color: rgba(0,0,0,0.03);

}